[Unit]
Description=Initializes Pacman keyring
Before=sshd.service first-boot-complete.target
Wants=first-boot-complete.target
ConditionPathIsReadWrite=/etc
ConditionFirstBoot=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/pacman-key --init
ExecStart=/usr/bin/pacman-key --populate archlinuxarm asahilinux

[Install]
WantedBy=multi-user.target
